nav {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0;
  height: 5vh;
  max-height: 50px;
  transform: translateY(-3.5vh);
  transition: transform 2s;
  z-index: 1000000;
  width: calc(100% - 28px);
  border: black solid 2px;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  color: "white";
  border-radius: "10px";
}

nav:hover {
  transform: translate(0, 0);
}

nav ul {
  height: 100%;
  list-style-type: none;
  margin-top: 0;
  overflow: hidden;
  background-image: url(/src/images/dobleArrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 15px;
  background-position: bottom center;
  border-radius: 10px;
}

nav ul:hover {
  background-image: none;
}

nav li {
  float: left;
}

nav li svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto !important;
  right: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.5s;
}
nav li svg:hover {
  opacity: 1;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}
